.retro__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.retro__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.mam {
  display: block;
  position: relative;
  height: 100%;
}
.mam__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}