@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}
.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  top: 35px;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}
.header__logo {
  position: absolute;
  top: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list li {
  position: relative;
  padding: 0px 37.5px 0px 37.5px;
}
.menu__list li:nth-child(2) {
  padding: 0px 110px 0px 35.5px;
}
.menu__list li:nth-child(2)::after {
  display: none;
}
.menu__list li:nth-child(3) {
  padding: 0px 37.5px 0px 110px;
}
.menu__list li:nth-child(4)::after {
  display: none;
}
.menu__list li::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 4px;
  height: 4px;
  background-color: #4d4959;
  border-radius: 50%;
}
.menu__link {
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
}
@media (max-width: 780px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4d4959;
    padding: 150px 0px 0px 0px;
    overflow: auto;
    margin: -200% 0px 0px 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .menu__body.active {
    margin: 0px 0px 0px 0px;
  }
  .menu__link {
    color: #fff;
    font-size: 20px;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list li {
    padding: 0px 0px 35px 0px;
  }
  .menu__list li:nth-child(2) {
    padding: 0px 0px 35px 0px;
  }
  .menu__list li:nth-child(2)::after {
    display: block;
  }
  .menu__list li:nth-child(3) {
    padding: 0px 0px 35px 0px;
  }
  .menu__list li:nth-child(4) {
    padding: 0px 0px 0px 0px;
  }
  .menu__list li::after {
    content: "";
    position: absolute;
    right: 50%;
    top: 60%;
    width: 4px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 50%;
  }
}

@media (max-width: 780px) {
  .icon-menu {
    position: absolute;
    width: 30px;
    height: 18px;
    top: 18px;
    right: 10px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 8px;
    left: 0;
    background-color: #4d4959;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
}
.icon-menu.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #fff;
}
.icon-menu.active span:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}
.icon-menu.active span:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 8px;
}

.generation {
  background-color: #f7f7f7;
  padding: 120px 0px 120px 0px;
}
@media (max-width: 780px) {
  .generation {
    padding: 50px 0px 50px 0px;
  }
}
.block {
  text-align: center;
}
.block__icon {
  margin: 0px 0px 34px 0px;
}
.block__title {
  color: #353738;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin: 0px 0px 24px 0px;
}
.block__text {
  color: #848789;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
}
@media (max-width: 780px) {
  .block__text {
    line-height: 20px;
  }
}

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1100px) {
  .brands__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.brands__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.brands__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
}
.brands__content {
  padding: 70px 65px 55px 65px;
  position: relative;
}
@media (max-width: 1400px) {
  .brands__content {
    padding: 40px 35px 30px 35px;
  }
}
.brands__content::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: 0px 0px 0px -10px;
  z-index: 2;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
.brands__image {
  padding: 0px 0px 37.51% 0px;
}

.item {
  height: 100%;
  display: block;
  position: relative;
}
.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(98, 175, 148, 0.5254901961);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}
.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1100px) {
  .item__image {
    padding: 0px 0px 50% 0px;
  }
}

.block__text_j {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
}
.block__text_j::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: black;
  display: block;
  margin: 35px auto 0 auto;
}

.vintage__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1100px) {
  .vintage__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.vintage__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.vintage__column_g {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
}
.vintage__image {
  padding: 0px 0px 37.51% 0px;
}
.blask {
  text-align: center;
  padding: 70px 65px 55px 65px;
  position: relative;
}
@media (max-width: 1400px) {
  .blask {
    padding: 40px 35px 30px 35px;
  }
}
.blask::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: 0px 0px 0px -10px;
  z-index: 2;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
.blask__icon {
  margin: 0px 0px 34px 0px;
}
.blask__title {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin: 0px 0px 24px 0px;
}
.blask__text {
  color: #848789;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 29.99px;
}
.blask__text::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: black;
  display: block;
  margin: 35px auto 0 auto;
}

.sam {
  display: block;
  position: relative;
  height: 100%;
}
.sam__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1100px) {
  .sam__image {
    padding: 0px 0px 50% 0px;
  }
}
.sam__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(98, 175, 148, 0.5254901961);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.sam:hover .sam__logo {
  opacity: 1;
  visibility: visible;
}

.retro__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1100px) {
  .retro__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.retro__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.mam {
  display: block;
  position: relative;
  height: 100%;
}
.mam__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1100px) {
  .mam__image {
    padding: 0px 0px 50% 0px;
  }
}
.mam__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(98, 175, 148, 0.5254901961);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.mam:hover .mam__logo {
  opacity: 1;
  visibility: visible;
}

.content-retro {
  text-align: center;
  padding: 70px 65px 55px 65px;
  position: relative;
}
@media (max-width: 1400px) {
  .content-retro {
    padding: 40px 35px 30px 35px;
  }
}
.content-retro::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: 0px 0px 0px -10px;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
.content-retro__icon {
  margin: 0px 0px 34px 0px;
}
.content-retro__title {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin: 0px 0px 24px 0px;
}
.content-retro__text {
  color: #848789;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 29.99px;
}
.content-retro__text::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: black;
  display: block;
  margin: 35px auto 0 auto;
}
.content-retro__image {
  padding: 0px 0px 37.51% 0px;
}

/* Слайдер */
.slick-slider {
  position: relative;
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Активная точка */
.slick-dots li.slick-active button {
  background-color: #848789;
}

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #c8c8c8;
  background-color: #282f35;
  margin: 0px 10px 0px 0px;
}

.slider__item {
  padding: 120px 0px 60px 0px;
}
.slider__icon {
  margin: 0px 0px 35px 0px;
  text-align: center;
}
.slider__title {
  margin: 0px 0px 20px 0px;
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.slider__title span {
  color: #d3d3d4;
}
.slider__text {
  color: #848789;
  font-size: 24px;
  font-style: italic;
  line-height: 34px;
  text-align: center;
}

body {
  font-family: "Lato";
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}