.header {
   position: absolute;
   width: 100%;
   z-index: 50;
   top: 35px;

   &__row {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 85px;
   }

   &__menu {
   }

   &__logo {
      position: absolute;
      top: 0;
   }
}
.menu {
   &__icon {
   }

   &__body {
   }

   &__list {
      display: flex;
      li {
         position: relative;
         padding: 0px 37.5px 0px 37.5px;
         &:nth-child(2) {
            padding: 0px 110px 0px 35.5px;
            &::after {
               display: none;
            }
         }
         &:nth-child(3) {
            padding: 0px 37.5px 0px 110px;
         }
         &:nth-child(4) {
            &::after {
               display: none;
            }
         }
         &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            width: 4px;
            height: 4px;
            background-color: #4d4959;
            border-radius: 50%;
         }
      }
   }

   &__link {
      color: #4d4959;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2.6px;
   }
   @media (max-width: 780px) {
      &__body {
         position: fixed;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         background-color: #4d4959;
         padding: 150px 0px 0px 0px;
         overflow: auto;
         margin: -200% 0px 0px 0px;
         transition: 0.5s;
         &.active {
            margin: 0px 0px 0px 0px;
         }
      }
      &__link {
         color: #fff;
         font-size: 20px;
      }
      &__list {
         display: flex;
         flex-direction: column;
         align-items: center;
         li {
            padding: 0px 0px 35px 0px;

            &:nth-child(2) {
               padding: 0px 0px 35px 0px;
               &::after {
                  display: block;
               }
            }
            &:nth-child(3) {
               padding: 0px 0px 35px 0px;
            }
            &:nth-child(4) {
               padding: 0px 0px 0px 0px;
            }
            &::after {
               content: "";
               position: absolute;
               right: 50%;
               top: 60%;
               width: 4px;
               height: 4px;
               background-color: #ffffff;
               border-radius: 50%;
            }
         }
      }
   }
}
.icon-menu {
   @media (max-width: 780px) {
      position: absolute;
      width: 30px;
      height: 18px;
      top: 18px;
      right: 10px;
      cursor: pointer;
      z-index: 5;
      span {
         position: absolute;
         width: 100%;
         height: 2px;
         top: 8px;
         left: 0;
         background-color: #4d4959;
         transition: 0.3s;
         &:first-child {
            top: 0;
         }
         &:last-child {
            top: auto;
            bottom: 0px;
         }
      }
   }
   &.active {
      span {
         transform: scale(0);
         background-color: #fff;
         &:first-child {
            transform: rotate(-45deg);
            top: 8px;
         }
         &:last-child {
            transform: rotate(45deg);
            bottom: 8px;
         }
      }
   }
}
