@import "nullstyle";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import "main-screen.scss";
@import "header.scss";
@import "footer.scss";
@import "generation.scss";
@import "brands.scss";
@import "vintage.scss";
@import "retro.scss";
@import "slider.scss";
@import "shop.scss";

body {
   font-family: "Lato";
}
.container {
   max-width: 1130px;
   margin: 0 auto;
   padding: 0px 15px 0px 15px;
}

.page {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
}
.ibg {
   position: relative;
   img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
   }
}
